html {
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
}

.site-title {
  font-size: 40px;
  margin-bottom: 0px;
}

.site-subtitle {
  margin-top: 0px;
}

.site-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}


h2 {
  margin-bottom: 5px;

}

li, p {
  line-height: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.container {
  width: 650px;
  margin: 0 auto;
  margin-top: 80px;
}

p.meta {
  font-size: 12px;
  color: #AAA;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.post {
  margin-bottom: 50px;
}

div.section {
  margin-left: 10px;
  margin-bottom: 15px;
}
