<div class="row-fluid">
  <div class="projects span2">
    Projects
    <ul>
      <li ng-repeat="project in projects">
        <a ng-click="filterPoints('project', 'searchFilterProject', project)">{{project}}</a>
      </li>
    </ul>
  </div>
  <div class="span8">
    <h1>Information</h1>
    <input type="text" ng-model="searchFilterProject" placeholder="Search by project"/>
    <input type="text" ng-model="searchFilterPoint" placeholder="Search by point"/>
    <div class="datapoints">
      <div datapoint ng-repeat="point in datapoints"></div>
    </div>
  </div>
</div>
