<div class="row-fluid">
  <div class="span6 offset2">
  <h1>Colton Pierson</h1>
  <p>
  I left college the summer of 2011 with three friends to move to San Francisco and pursue professional 
  software development.
  </p>

  <p>
  Following that I've worked at: 
  </p>
  <ul>
    <li> <p>
    <a href="https://www.flint.com/">Flint Mobile Payments</a> (startup doing OCR based mobile payment processing where I handled some communications using <a href="http://nodejs.org/">Node.js</a>) 
    </p> </li> 
    <li> <p>
    <a href="http://mixrank.com">MixRank</a> (startup doing advertisement analytics where I did a large amount of work using <a href="http://www.pylonsproject.org/">Pyramid</a>, 
    <a href="http://sass-lang.com/">Sass</a>, and <a href="http://coffeescript.org/">CoffeeScript</a> on the site ). 
    </p> </li> 
  </ul>
  <p>
  Both of which were quite enjoyable to work at.

  </p>

  <p>
  I do the majority of my development on a System 76 laptop (sadly an older one, I'm quite jealous of the most recent models), running Arch Linux.
  I use the tiling window manager <a href="http://dwm.suckless.org/">dwm</a>, having tried both <a href="http://awesome.naquadah.org/">awesome</a> and <a href="http://xmonad.org/">xmonad</a>, 
  all of which were fantastic, but this has been the snappiest.
  By all means I am a <a href="http://www.vim.org/">vim</a> user, though I can appreciate what I've seen other people do in both Sublime2 and Emacs.
  </p>

  <p>
  I've done a few <a href="/experiments">Experiments</a> if you might be interested. 
  And I have a <a href="http://blog.coltonpierson.com">Blog</a> where I'll talk about various technical things.
  </p>

  <p>
  I should be now working at BlackJet, on weekends I might be working on a personal project called GifGen that I'll
  be writing about more very soon and hopefully launching as well. I'd also appreciate it if you have any questions
  of sorts, for me, that you just go ahead and <a href="http://blog.coltonpierson.com/ask">ask</a>. I'd appreciate the interaction.
  </p>

  <p>
  I hope that you enjoy my work and that we can be friends. 
  </p>

  <p>
  </p><ul>
  <li><p><a href="http://www.tumblr.com/follow/coltonkveykva">Follow me on tumblr</a></p></li>
  <li><p><a href="https://github.com/kvey">Find me on github</a></p></li>
  <li><p><a href="http://www.linkedin.com/pub/colton-pierson/48/ab2/a">Add me on linkedin</a></p></li>
</ul>
<p></p>
  </div>
</div>
