@import "compass_twitter_bootstrap";

canvas { 
    background:#EEE;
}

.node{
    width: 400px;
    border: 1px solid #DDD;
    margin: 10px;
}

.slider{
    display: inline-block;
    width: 300px;
}
