@import "compass_twitter_bootstrap";

body {
    background: #EEE;
}

.datapoint, .datapoint-info{
    margin-left: 10px;
}

.navbar .brand{
    padding: 10px 0px 10px 10px;
}

.projects{
    padding: 10px;

    ul{
        margin-left: 10px;
        li{
            list-style: none;
        }
    }
}
