@import "compass_twitter_bootstrap";

body {
    background: #EEE;
    padding-bottom: 100px;
}

p{
    max-width: 500px;
}

.datapoint{
    margin-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #E0E0E0;

    &:last-child{
        border-bottom: none;
    }
}

.navbar .brand{
    padding: 10px 0px 10px 10px;
}

.projects{
    padding: 10px;
    ul{
        margin-left: 0;
        li{
            list-style: none;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}
